{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New Time Entry {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Date</label>
        <input type="text" name="lineItemDate"
               placeholder="Enter Date" class="form-control"
               value="{{ request.form['lineItemDate'] }}"></input>
    </div>

    <div class="form-group">
        <label for="title">Minutes</label>
        <input type="text" name="lineItemMinutes"
               placeholder="Enter Minutes" class="form-control"
               value="{{ request.form['lineItemMinutes'] }}"></input>
    </div>

    <div class="form-group">
        <label for="content">Description</label>
        <textarea name="description" placeholder="Enter Description"
                  class="form-control">{{ request.form['description'] }}</textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}
